{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}

{% block body %}
            <article>
                <h2>{{ article.title }}</h2>
                <div class="metadata">ecrit le {{ article.createdAt | date
                        ('d/m/Y') }} à {{ article.createdAt | date('H:i')}} dans la catégorie politique</div>
                <div class="content">
                    <img src="{{ article.image }}" alt=""> <br>
                    {{ article.content | raw }} <br>
                    <a href="" class="btn btn-primary">Lire la suite</a></div>
            </article>
{% endblock %}



